.customButton {
  background-color: var(--blue);
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  height: 44px;
  min-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  outline: none;
}

.customButton:hover {
  background-color: #677bc4;
}

.customButton:active {
  background-color: #5b6eae;
  outline: none;
}
